
    body
    {overflow-x: hidden;}
    
    { 
      font-family: Arial, Helvetica, sans-serif;}

.head_first{
  background-color:none;
  font-size: 17px;
}
 .head_second{
   background-color: none;
   font-size: 17px;
 }
    .navbar {
      width: 100%;
      background-color: rgb(130, 157, 243);
      overflow: auto;
    }
    
    .navbar a {
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background-color: rgb(144, 153, 235);
    }

    .container .row .form-inline .col-sm-2{
     
     padding: 10px;
      padding-right: 10px;
      padding-left: 10px;
      padding-right: 15px;
    }
    
    .active {
      background-color: rgb(236, 238, 236);
    }
    
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    
    .title{
      padding: 15px;
      margin: 0;
    }

    .title hr{
      height: 0;
      border-top: 2px solid black;
    }

    .title .title-text{
      width: 25%;
      text-align: center;
      margin: -40px auto 0 auto;
      background: #fff;
      font-size: 25px;
      color: blue;
     margin-bottom: -20px;
     padding-top: 70px;
     padding-bottom: 10px;
    }

    .Usp{
      padding: 10px;
      margin: 0;
    }

    .Usp hr{
      height: 0;
      border-top: 2px solid white;
    }

    .Usp .Usp-text{
      width: 25%;
      text-align: center;
      margin: -40px auto 0 auto;
      background: #fff;
      font-size: 25px;
      color: blue;
    }

    .row .col-sm-4{
      padding: 10px ;
      font-size: 22px;
    }

    .gallery{
      padding: 10px;
      margin: 0;
    }

    .gallery hr{
      height: 0;
      border-top: 2px solid black;
    }

    .gallery .gallery-text{
      width: 25%;
      text-align: center;
      margin: -40px auto 0 auto;
      background: #fff;
      font-size: 25px;
      color:blue;
    }

    .containerGallery{
      padding: 15px;
    }

    /*form inline*/
.container .row .form-inline .col-sm-2{
  boarder-left: 5px;
  margin-right: 25px;
  font-size: 20px;
}

/*guest fav room*/
.container .row .col-md-4 .thumbnail{
width: 100%;
height: 100%;
padding: 5px;
}

/*USP Section*/
ul.nav-pills {
  top: 20px;
  position: fixed;
}
div.col-8 div {
  height: 500px;
}

.experience hr{
  height: 0;
  border-top: 2px solid black;
}

.experience .experience-text{
  width: 25%;
  text-align: center;
  margin: -45px auto 0 auto;
  background: #fff;
  font-size: 15px;
  color: blue;
  padding: 15px;
  font-size: 20px;
}

.container .row .col-sm-4 .fa fa-fw fa-circle{
  font-size: 5px;
  float: center;
}


/*guest fav room*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #fefeff;
  color: white;
  transform: rotateY(180deg);
}

.delighthall2 .btn {
  background-color: rgb(126, 206, 226);
  margin: auto;
}

/*login box*/
.container .row .col-lg-8  .col-lg-4.login-box
body{
  margin:0;
	padding:0;
	font-family:sans-serif;
	background:url(bar1.jpg);
  background-size: cover;
}

.login-box{
  width:280px;
}
.login-box h1{
  float:left;
  font-size:40px;
  border-bottom:6px solid #4caf50;
  margin-bottom:50px;
 
  }
  .textbox{
    width:100%;
    overflow:hidden;
    font-size:20px;
    padding:10px 0;
    margin: 2px 0;
    border-bottom:1px solid #4caf50;
  }
  .textbox i{
    width:26px;
    float:left;
    text-align:center;
  }
  .textbox input{
    border:none;
    outline:none;
    background:none;
    color:white;
    font-size:18px;
    width:80%;
    float:left;
    margin:0 10px;
  }
  .btn{
    width: 100%;
    border:2px solid #4caf50;
    color: white;
    padding:5px;
    font-size:18px;
    margin: 12 px 0;
  }

 
  .testimonial hr{
    height: 0;
    border-top: 2px solid black;
  }
  
  .testimonial .testimonial-text{
    width: 25%;
    text-align: center;
    margin: -40px auto 0 auto;
    background: #fff;
    font-size: 20px;
    color:blue;
    padding: 10px;
  }
#janabahabar .hall1{
  height: 130;
  width: 210;
}
#janabahabar .hall2{
  height: 130;
  width: 210;
}
#janabahabar .hall3{
  height: 130;
  width: 210;
}
#janabahabar .hall4{
  height: 130;
  width: 210;
}
#janabahabar .hall5{
  height: 130;
  width: 210;
}



  @media(max-width:600px){
    .head_first{
      font-size: 15px;
      margin: 0 auto;
    }
      
    .head_second{
padding-top: -10px;
font-size: 15px;
margin: 0 auto;
    }
    .title .title-text{
      font-size: 15px;
    }
    #janabahabar .hall1{
      display: none;
    }   
    #janabahabar .hall2{
      display: block;
      margin-left: 80px;
    }    
    #janabahabar .hall3{
      display: none;
    }    
    #janabahabar .hall4{
      display: none;
    }    
    #janabahabar .hall5{
      display: none;
    }   
    .experience.experience-text{
      font-size: 5px;
    }  
    .row .col-sm-12#last{
      background-color:black;
       height: 950px;
    }
    .carousel-inner{
      height: 150px;
    }

  }



  