<h4 style="color: black; padding:20px 0px 10px 0px;" class="text-center">Culinary Delights</h4>
<section>
<div class="container-fluid">
    <div class="row delight">
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
        <ul class="nav  nav-tabs flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#hall" style="background-color:rgba(28, 191, 255, 0.596) ">Dining Hall</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bar" >Bar</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#cafeteria" >Cafeteria</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#rooftop" >Rooftop Garden</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kitchen" >Open Kitchen</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#lounge" >Attractive Lounge</a>
                <hr style="border: 1px solid rgba(28, 191, 255, 0.596); margin: 0px 0px 1px 0px;">
            </li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
        <!-- Tab panes -->
        <div class="tab-content ">
            <div id="hall" class="container tab-pane  active">
                <div class="delighthall1">
                <img src="nilratna hall.jpg" class="hall1" alt="Dining Hall_1" height="130px" width="210px">
                <img src="image/Dining Hall_2.jpg" class="hall2" alt="Dining Hall_2" height="130px" width="210px">
                <img src="image/Dining Hall_3.jpg" class="hall3" alt="Dining Hall_3" height="130px" width="205px">
                <img src="image/Dining Hall_4.jpg" class="hall4" alt="Dining Hall_4" height="130px" width="210px">
                <img src="image/Dining Hall_5.jpg" class="hall5" alt="Dining Hall_5" height="130px" width="210px" >
                </div>
                <div class="delighthall2">
                <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Dining Hall</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                    <button type="button" class="btn btn-md">View Detail</button>
                </div>
            </div>
            <div id="bar" class="container tab-pane fade">
                    <div class="delighthall1">
                    <img src="image/Bar_1.jpg" class="hall1" alt="Bar_1" height="130px" width="210px">
                    <img src="image/Bar_2.jpg" class="hall2" alt="Bar-_2" height="130px" width="210px">
                    <img src="image/Bar_3.jpg" class="hall3" alt="Bar_3" height="130px" width="205px">
                    <img src="image/Bar_4.jpg" class="hall4" alt="Bar_4" height="130px" width="210px">
                    <img src="image/Bar_5.jpg" class="hall5" alt="Bar_5" height="130px" width="210px" >
                    </div>
                    <div class="delighthall2">
                    <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Bar</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                        <button type="button" class="btn btn-md">View Detail</button>
                    </div>
            </div>
                <div id="cafeteria" class="container tab-pane fade">
                    <div class="delighthall1">
                        <img src="image/Cafeteria_1.jpg" class="hall1" alt="Cafeteria_1" height="130px" width="210px">
                        <img src="image/Cafeteria_2.jpg" class="hall2" alt="Cafeteria-_2" height="130px" width="210px">
                        <img src="image/Cafeteria_3.jpg" class="hall3" alt="Cafeteria_3" height="130px" width="205px">
                        <img src="image/Cafeteria_4.jpg" class="hall4" alt="Cafeteria_4" height="130px" width="210px">
                        <img src="image/Cafeteria_5.jpg" class="hall5" alt="Cafeteria_5" height="130px" width="210px" >
                        </div>
                        <div class="delighthall2">
                        <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Cafereria</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                            <button type="button" class="btn btn-md">View Detail</button>
                        </div>
                    </div>
                <div id="rooftop" class="container tab-pane fade">
                    <div class="delighthall1">
                        <img src="image/Rooftop Garden_1.jpg" class="hall1" alt="Rooftop Garden_4" height="130px" width="210px">
                        <img src="image/Rooftop Garden_2.jpg" class="hall2" alt="Rooftop Garden_5" height="130px" width="210px" >
                        <img src="image/Rooftop Garden_3.jpg" class="hall3" alt="Rooftop Garden_1" height="130px" width="210px">
                        <img src="image/Rooftop Garden_4.jpg" class="hall4" alt="Rooftop Garden_2" height="130px" width="210px">
                        <img src="image/Rooftop Garden_5.jpg" class="hall5" alt="Rooftop Garden_3" height="130px" width="205px">    
                    </div>
                        <div class="delighthall2">
                        <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Rooftop Garden</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                            <button type="button" class="btn btn-md">View Detail</button>
                    </div>
                </div>
                <div id="kitchen" class="container tab-pane fade">
                    <div class="delighthall1">
                        <img src="image/Open Kitchen_1.jpg" class="hall1" alt="Rooftop Garden_1" height="130px" width="210px">
                        <img src="image/Open Kitchen_2.jpg" class="hall2" alt="Rooftop Garden_2" height="130px" width="210px">
                        <img src="image/Open Kitchen_3.jpg" class="hall3" alt="Rooftop Garden_3" height="130px" width="205px">
                        <img src="image/Open Kitchen_4.png" class="hall4" alt="Rooftop Garden_4" height="130px" width="210px">
                        <img src="image/Open Kitchen_5.png" class="hall5" alt="Rooftop Garden_5" height="130px" width="210px" >
                        </div>
                        <div class="delighthall2">
                        <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Open Kitchen</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                            <button type="button" class="btn btn-md">View Detail</button>
                    </div>
                </div>
                <div id="lounge" class="container tab-pane fade">
                    <div class="delighthall1">
                        <img src="image/Attractive Lounge_1.jpg" class="hall1" alt="Attractive Lounge_2" height="130px" width="210px">
                        <img src="image/Attractive Lounge_2.jpg" class="hall2" alt="Attractive Lounge_3" height="130px" width="205px">
                        <img src="image/Attractive Lounge_3.jpeg" class="hall3" alt="Attractive Lounge_4" height="130px" width="210px">
                        <img src="image/Attractive Lounge_4.jpg" class="hall4 alt="Attractive Lounge_5" height="130px" width="210px" >
                        <img src="image/Attractive Lounge_5.jpg" class="hall5 alt="Attractive Lounge_1" height="130px" width="210px">    
                    </div>
                        <div class="delighthall2">
                        <h5 style="padding-top: 18px; line-height: 0.5; color: blue;">Attractive Lounge</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis harum asperiores fuga? Maxime, et deserunt placeat dolores quibusdam quasi neque accusantium, laudantium architecto ipsa</p>
                            <button type="button" class="btn btn-md">View Detail</button>
                    </div></div>
    </div>
</div>
</div>
</div>
</section>