body{
    background-color: black;
}
 .header{
    background-color: red;
}

 .col-sm-3{
    font-size: 18px;
}

.head_first{
   color: white;
   font-size: 18px;
}

.head_second{
    color: white;
    font-size: 18px;

}
.icon{
    color: black;
     font-size: 20px;
      padding-right: 8px;
      padding-top: 1px;
}

.navbar{
    background-color:white;
     
}

.navbar a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color:red;
  }
